<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
{{!-- layout.hbs defines the general HTML boilerplate so we can define just the title and body on the other handlebar templates, saving us time and typing. --}}