.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1 {
    font-size: 3rem;
    font-style: italic;
}

.searches > * {
    font-size: 1.75rem;
}